[config]
name = madewithtea
version = 1

[logging]
filename = growthhack.log

[twitter]
consumer_key = 
consumer_secret = 
access_token_key = 
access_token_secret = 

[db] 
file = growthhack.db

[influxdb]
host =
port = 8086
user = 
password = 
database = twitter
followers = followers
unfollowing = unfollowing
following = following
follows = follows
not_followed_back = not_followed_back
fetched_tweets = fetched_tweets

[algorithm]
follow_quota = 100
topics = #linux,#scala,#finatra,#finagle,#spark,#opensource,#sbt
new_per_topic = 10 
wait_for_follow = 11000 

